 /*タブ切り替え全体のスタイル*/
 .tabs {
     background-color: #fff;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     width: 100%;
     margin: 10px auto 10px auto;
 }

 .tab_item_pc {
     display: none;
     /* または、適切な表示スタイル */
 }

 /*タブのスタイル*/
 .tab_item {
     background-color: hsla(193, 94%, 49%, 0.948);
     border: 0.5px solid rgb(248, 243, 234);
     /* 境界線を黒の実線に変更 */
     line-height: 50px;
     font-size: 16px;
     text-align: center;
     color: whitesmoke;
     display: block;
     float: left;
     text-align: center;
     font-weight: bold;
     transition: all 0.2s ease;
 }

 .tab_item:hover {
     opacity: 0.75;
 }

 /*ラジオボタンを全て消す*/
 input[name="tab_item"] {
     display: none;
 }


 /*タブ切り替えの中身のスタイル*/
 .tab_content {
     display: none;
     padding: 10px 15px 5px 15px;
     clear: both;
     overflow: hidden;
 }

 /*選択されているタブのスタイルを変える*/
 .tabs input:checked+.tab_item {
     background-color: #1509ed;
     color: #fff;
 }

 /*選択されているタブのコンテンツのみを表示*/
 #all:checked~#all_content,
 #company:checked~#company_content,
 #corporate:checked~#corporate_content,
 #company:checked~#company_content,
 #information:checked~#information_content,
 #contact:checked~#contact_content,
 #item1:checked~#item1_content,
 #item2:checked~#item2_content,
 #item3:checked~#item3_content,
 #item4:checked~#item4_content,
 #item5:checked~#item5_content,
 #item6:checked~#item6_content,
 #item7:checked~#item7_content {
     display: block;
 }

 @media screen and (min-width: 500px) {
     .tabs {
         width: 90%;
     }
 }

 @media screen and (min-width: 1100px) {
     .tabs {
         width: 70%;
     }
 }