.wrapper-1 {
    width: 98%;
    margin: auto;
}

#content {
    width: 100%;
    background-color: #f6f3e8;
    border-radius: 5px;
    margin-bottom: 100px;
}

.content-body {
    font-size: 200px;
}

.content-title {
    padding: 7px 15px;
    font-weight: bold;
    font-size: 15px;
    color: #e3e3e2;
    background: #104375;
    border-top: 1px #cccacb solid;
    border-right: 1px #cccacb solid;
    border-radius: 5px;
}

.content-body {
    padding: 10px;
}

.main-title {
    margin: 20px 10px;
}

.content-main {
    padding: 5px;
    font-size: 10px;
}

.inner {
    font-size: 20px;
}

.info_dis {
    font-size: 15px;
}

.mail_form_label {
    margin-left: 10px;
    font-size: 15px;
}

#content ul {
    margin: 10px 0 0.5em 0;
    padding: 0;
}

#content a {
    text-decoration: none;
}

.iputAddress {
    margin-bottom: 10px;
}

.name_text {
    cursor: pointer;
    color: blue;
    white-space: nowrap;
}

.update_button {
    margin: 0 0 10px 10px;
}

.form-content {
    font-size: 15px;
}

.email_dis {
    font-size: 10px;
}

.side-content {
    margin-bottom: 200px;
}
@media screen and (min-width: 480px) {
    .content-body {
        font-size: 20px;
    }

    .content-main {
        font-size: 20px;
    }

    .content-title {
        font-size: 20px;
    }

    .info_dis {
        font-size: 20px;
    }

    .mail_form_label {
        font-size: 20px;
    }

    .form-content {
        font-size: 20px;
    }

    .email_dis {
        font-size: 20px;
    }
}
@media screen and (min-width: 1200px) {
    .wrapper-1 {
        width: 65%;
        margin: auto;
    }

    #content {
        float: right;
        width: 74%;
        margin-right: 15px;
        background-color: #f6f3e8;
        border-radius: 5px;
    }

    .content-main {
        padding: 0 10px;
        font-size: 20px;
    }

    .content-title {
        font-size: 20px;
    }

    .content-body {
        font-size: 18px;
    }

    .info_dis {
        font-size: 20px;
    }

    .mail_form_label {
        font-size: 20px;
    }

    .email_dis {
        font-size: 15px;
    }
}

#footer {
    padding-top: 20px;
    font-size: 12px;
    height: 100px;
    clear: both;
    text-align: center;
    color: #444;
}

#footer a {
    color: #444;
}
